.vscode/**
.vscode-test/**
out/**
node_modules/**
src/**
.git/**
.history/**
.gitignore
.npmrc
.yarnrc
.vscodeignore
esbuild.js
vsc-extension-quickstart.md
**/tsconfig.json
**/eslint.config.mjs
**/*.map
**/*.ts
**/.vscode-test.*
pnpm-lock.yaml
package-lock.json
.eslintrc.json
